# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# local environment files
.env
.env.*
!.env.example

# testing
/coverage

# production
/build

# misc
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
*.swp
*.swo
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local Netlify and tool output
.netlify/
*.log
